/*Header*/
.header-nav{
	display: flex;
	padding: 10px;
	background-color: rgb(0 128 255);
	align-items: baseline;
}
.header-nav .menu-options{
	margin-left: 10px;
}
.header-nav .menu-item{
	color: white;
	margin: 2px 2px 2px 2px;
}
.header-nav .title{
	color: white;
	text-decoration: none;
}
.header-nav .busca{
	margin-left: auto;
}

/*Home*/
.home{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.home .map{
	width: auto;
	height: 500px;
}
.home .title-map .name-map{
	color: white;
	text-shadow: 2px 2px 5px black;
}

/*Perfil*/
.perfil{
	display: flex;
	flex-flow: column wrap;
	margin-top: 40px;
}
.perfil .topo-perfil{
	margin-left: 150px;
	margin-bottom: 20px;
	display: flex;
	flex-flow: row nowrap;
}
.perfil .topo-perfil .perfil-info{
	display: flex;
	flex-flow: column wrap;
	margin-left: 20px;
}
.perfil .topo-perfil .perfil-thumbnail{
	width: auto;
	height: 150px;
}
.perfil .galeria .img-galeria{
	width: 300px;
	height: 200px;
}

/*Top 10*/
.top10{
	margin-top: 20px;
	display: flex;
	flex-flow: column wrap;
}
.top10 .carrossel-top10 .my-carroussel{
	text-align: center;
	margin-bottom: 20px;
}
.top10 .carrossel-top10 .my-carroussel .thumb-carroussel{
	width: auto;
	height: 350px;
}
.top10 .galeria-top10{
	flex-grow: 2;
}
.top10 .galeria-top10 .subtitle-top10{
	font-family: helvetica;
	font-weight: lighter;
	margin-bottom: 20px;
}
.top10 .galeria-top10 .imgs-top10{
	border: 1px solid black;
	padding: 5px;
}
.top10 .galeria-top10 .imgs-top10 .thumb-top10{
	margin: 5px;
	width: auto;
	height: 200px;
}

/*Cadastro*/
.cadastro{
	display: grid;
	height: 500px;
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
	grid-template-areas:
	"titulo titulo"
	"nick nick"
	"name name"
	"país senha"
	"estado repeat-s"
	"login-b cadastro-b"
	;
}
.cadastro .titulo-g{
	grid-area: titulo;
	font-family: arial
	font-weight:lighter;
}
.cadastro .login-g{
	grid-area: login-b;
	color: white;
}
.cadastro .cadastro-g{
	grid-area: cadastro-b;
	color: white;
}
.cadastro .repeat-g{
	grid-area: repeat-s;
}
.cadastro .senha-g{
	grid-area: senha;
}
.cadastro .name-g{
	width: 500px;
	grid-area: name;
}
.cadastro .nick-g{
	grid-area: nick;
}
.cadastro .país-g{
	grid-area: país;
}
.cadastro .estado-g{
	grid-area: estado;
}

/*Login*/
.login{
	display: grid;
	grid-gap: 10px;
	height: 500px;
	justify-content: center;
	align-content: center;
	grid-template-areas:
	"titulo titulo"
	"email email"
	"senha senha"
	"cadastro-b login-b"
	;
}
.login .titulo-g{
	grid-area: titulo;
	font-weight: lighter;
	font-family: arial;
}
.login .email-g{
	grid-area: email;
	width: 400px;
}
.login .senha-g{
	grid-area: senha;
}
.login .cadastro-g{
	grid-area: cadastro-b;
	color: white;
}
.login .login-g{
	grid-area: login-b;
	color: white;
}

/*Post*/

.post{
	margin-top: 20px;
	border: 1px solid black;
	justify-content: center;
	align-content: center;
	display: grid;
	grid-template-areas: 
	"titulo"
	"img"
	"legenda"
	;
}	
.post .titulo-f{
	grid-area: titulo;
}
.post .img-f{
	grid-area: img;
}
.post .legend-f{
	grid-area: legenda;
}
/*Notificações*/
/*Feed*/
/*CSS geral*/
*{
	margin: 0px;
	padding: 0px;
}